[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
click = "==7.0"
itsdangerous = "==1.1.0"
pytz = "==2018.9"
Babel = "==2.6.0"
Flask-Babel = "==0.12.2"
Flask = "==1.0.2"
Frozen-Flask = "==0.15"
Jinja2 = "==2.10"
MarkupSafe = "==1.1.0"
PyYAML = "==3.13"
Werkzeug = "==0.15.3"

[requires]
python_version = "3.7"
