[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = '3.6'

[packages]

Flask = "==0.12.2"
Frozen-Flask = "==0.15"
"Jinja2" = "==2.10"
Werkzeug = "==0.12.2"
Flask-Babel = "==0.11.2"
PyYAML = "==3.11"


[dev-packages]

bumpversion = "==0.5.3"
watchdog = "==0.8.3"
"flake8" = "==2.6.0"
tox = "==2.3.1"
coverage = "==4.1"
Sphinx = "==1.4.8"
PyYAML = "==3.11"
isort = "*"
prospector = "*"
itsdangerous = "==0.24"
