-i https://pypi.python.org/simple
babel==2.6.0
click==7.0
flask-babel==0.12.2
flask==1.0.2
frozen-flask==0.15
itsdangerous==1.1.0
jinja2==2.10
markupsafe==1.1.0
pytz==2018.9
pyyaml==3.13
werkzeug==0.14.1
