<div class="footer">
    <div class="container">
        <div class="has-text-centered">
            <p>
                <strong>{{ app_name }}</strong> {{ _('''by  <a href="mailto:kaze@rlab.be">KaZe</a>. This source code is under
                <a href="">GPLv3+</a> license. Website content is under a different license.''')}}

            </p>
            <p>
                <a class="icon" href="https://github.com/elKaZe/biblioteca-guerrilla">
                    <i class="fa fa-github title has-text-grey-dark"></i>
                </a>
            </p>
        </div>
    </div>
</div>
