{% extends "central.html" %}
{% block listado %}

{% macro genera_lista(entries) %}
<!--I get a dict with item: <letter, elements> where the elements are those that
begins with this letter -->
{% for key, value  in entries|dictsort %}
<div class="column is-one-third">
    <dl>
        <dt class="title dt">{{key}}</dt>
        {% for element in value %}
        <dd>
            <a href={{ element.url }} title="{{element.element | capitalize}}">
                {{ element.element|truncate(50, True)|capitalize }}
            </a>
        </dd>
        {% endfor %}
    </dl>
</div>
{% endfor %}
{% endmacro %}

<div class="columns">
    {% include "sidebar.html" %}
    <!-- on the right of the sidebar-->
    <div class="column is-10 content">
        <div class="title">{{ title|capitalize }}</div>
        <div class="columns is-multiline files">
            {{ genera_lista(entries) }}
            <!--Columns-->
        </div>
    </div>
</div>

{% endblock %}
