<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
        <strong>{{ app_name }}</strong> {{ _('''by  <a href="mailto:kaze@partidopirata.com.ar">KaZe</a>. This source code is under 
                <a href="">GPLv3+</a> licence. Website content is under a different licence.''')}}

      </p>
      <p>
        <a class="icon" href="https://github.com/elKaZe/biblioteca-guerrilla">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
