<footer class="footer">
  <div class="container">
    <div class="has-text-centered">
      <p>
      <strong>{{ app_name }}</strong> {{ _('''por <a href="mailto:kaze@partidopirata.com.ar">KaZe</a>. Este código esta licenciado bajo
        <a href="">GPLv3+</a>. El contenido del sitio cuanta con su propia licencia.
        ''')}}

      </p>
      <p>
        <a class="icon" href="https://github.com/elKaZe/biblioteca-guerrilla">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
