
{% extends "central.html" %}
{% block content%}


<div class="columns">
  {% include "sidebar.html" %}
  <div class="content column is-10">
    <div class="title is-2">{{ titulo }}</div>
    <div class="nav menu">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item is-tab is-active"><span class="icon-btn"><i class="fa fa-plus"></i></span></a>
          <a class="nav-item is-tab">
            <span class="icon-btn">
              <i class="fa fa-print"></i>
            </span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon-btn thin">
              <i class="fa fa-lock"></i>
            </span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon-btn">
              <i class="fa fa-trash"></i>
            </span>
          </a>
          <div class="nav-item is-tab">
            <strong>ALGO</strong>
          </div>
        </div>
        <div class="nav-right is-hidden-mobile">
          <a class="nav-item is-tab">Algo</a>
          <a class="nav-item"><span class=" button is-success">algO</span></a>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-third">
        <div class="image is-420x640">
          <img src="/tapas/{{ libro.tapa }}">
      </div>
      </div>

    <div class="column">
      <table class="table">
        <tbody>
          <tr>
            <td><strong> Título: </strong>{{ libro.titulo|capitalize }}</td>
            <td>

              {% if libro.etiquetas%}
              <strong> Etiquetas: </strong>
              {% for etiqueta  in libro.etiquetas %}
              <a href={{ url_for('vista_etiqueta_especificada', nombre_etiqueta=etiqueta) }} >
                <span class="tag is-danger">{{ etiqueta|capitalize }}</span>
              </a>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><strong> Autor: </strong>
              {% for autor in libro.autores %}
              <a href={{ url_for('vista_autor_especificado', nombre_autor=autor ) }} >
              {{ autor}}
              </a>
              {% endfor %}

            </td>
            <td>

              {% if libro.series%}
              <strong> Colección: </strong>
              {% for serie in libro.series%}
              <a href= "/{{ ruta }}" >
                <span class="tag is-warning">{{ serie|capitalize }}</span>
              </a>
              {% endfor %}
              {% endif %}
            </td>
          </tr>
          <tr>
            <td><strong> Año de publicación: </strong>{{ libro.fecha_publicacion}}</td>
          <td>

            <strong> Descargar: </strong>
            {% for formato, ruta  in libro.formatos.items() %}
            <a href= "/{{ ruta }}" >
              <span class="tag is-primary">{{ formato|upper}}</span>
            </a>
            {% endfor %}
          </td>
          </tr>
        </tbody>
      </table>
    {% if libro.sinopsis %}
    <strong> Sinopsis: </strong>
    <p>
    {{ libro.sinopsis|safe}}
    </p>
    {% endif %}
    </div>
  </div>
</div>

{% endblock %}
