
{% extends "central.html" %}
{% block content%}


<div class="columns">
  {% include "sidebar.html" %}
  <div class="content column is-10">
    <div class="title is-2">{{ titulo }}</div>
    <div class="nav menu">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item is-tab is-active"><span class="icon-btn"><i class="fa fa-plus"></i></span></a>
          <a class="nav-item is-tab">
            <span class="icon-btn">
              <i class="fa fa-print"></i>
            </span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon-btn thin">
              <i class="fa fa-lock"></i>
            </span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon-btn">
              <i class="fa fa-trash"></i>
            </span>
          </a>
          <div class="nav-item is-tab">
            <strong>ALGO</strong>
          </div>
        </div>
        <div class="nav-right is-hidden-mobile">
          <a class="nav-item is-tab">Algo</a>
          <a class="nav-item"><span class=" button is-success">algO</span></a>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-one-third">
        <div class="column">
          <div class="image is-420x640">
            <img src="/tapas/{{ libro.tapa }}">
          </div>
        </div>
      </div>

      <div class="column">
        <ul>
          <li><strong> Título: </strong>{{ libro.titulo }}</li>
          <li><strong> Autor: </strong>{{ libro.autor}}</li>
          <li><strong> Año de publicación: </strong>{{ libro.fecha_publicacion}}</li>
        </ul>
      </div>
      <div class="column">
        <ul>
          {% if libro.etiquetas%}
          <li><strong> Etiquetas: </strong>
            {% for etiqueta  in libro.etiquetas %}
            <a href= "/{{ ruta }}" >
              <span class="tag is-danger">{{ etiqueta|capitalize }}</span>
            </a>
            {% endfor %}
          </li>
          {% endif %}
          {% if libro.series%}
          <li><strong> Colección: </strong>
            {% for serie in libro.series%}
            <a href= "/{{ ruta }}" >
              <span class="tag is-warning">{{ serie|capitalize }}</span>
            </a>
            {% endfor %}
          </li>
          {% endif %}

          <li><strong> Descargar: </strong>
            {% for formato, ruta  in libro.formatos.items() %}
            <a href= "/{{ ruta }}" >
              <span class="tag is-primary">{{ formato|upper}}</span>
            </a>
            {% endfor %}
          </li>
        </ul>
      </div>

    </div>
    {% if libro.sinopsis %}
    <li><strong> Sinopsis: </strong></li>
    <p>
    {{ libro.sinopsis}}
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}
