{% extends "central.html" %}
{% block listado %}

{% macro genera_item_libro(titulo, autor, ruta_cover) %}
<a class="file" href={{ url_for('vista_libro_especificado', nombre_libro=titulo ) }} >
    <div class="image is-4by2">
      <img src="/tapas/{{ ruta_cover }}">
    </div>
    <div class="name">{{ titulo}}</div>
    <div class="timestamp">{{ autor }}</div>
  </a>
{% endmacro %}
{% macro genera_columnas(libros) %}
{% for columna in libros %}
  {% for libro in columna %}
      <div class="column is-2">
          {{ genera_item_libro(libro.titulo, libro.autor, libro.tapa) }}
      </div>
  {% endfor %}
{% endfor %}

{% endmacro %}
<div class="columns">
  {% include "sidebar.html" %}
  <div class="content column is-10">
    <div class="title is-2">{{ titulo }}</div>
    <div class="nav menu">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item is-tab is-active"><span class="icon-btn"><i class="fa fa-plus"></i></span></a>
          <a class="nav-item is-tab">
            <span class="icon-btn">
              <i class="fa fa-print"></i>
            </span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon-btn thin">
              <i class="fa fa-lock"></i>
            </span>
          </a>
          <a class="nav-item is-tab">
            <span class="icon-btn">
              <i class="fa fa-trash"></i>
            </span>
          </a>
          <div class="nav-item is-tab">
            <strong>ALGO</strong>
          </div>
        </div>
        <div class="nav-right is-hidden-mobile">
          <a class="nav-item is-tab">Algo</a>
          <a class="nav-item"><span class=" button is-success">algO</span></a>
        </div>
      </div>
    </div>
    <div class="columns files">
      {{ genera_columnas(libros) }}
      <!--<div class="column is-2">-->
        <!--[>Genero los libros<]-->
        <!--{% for libro in libros %}-->
          <!--{{ genera_item_libro(libro.titulo, libro.autor, libro.tapa) }}-->
        <!--{% endfor %}-->
      <!--</div>-->
    </div>
  </div>
</div>

{% endblock %}
