{% extends "central.html" %}
{% block listado %}

{% macro genera_item_libro(titulo, autor, ruta_cover) %}
<a class="file" href={{ url_for('vista_libro_especificado', nombre_libro=urlencode(titulo) ) }} >
    <div class="image is-4by2">
          <img src={{ url_for('devolver_tapa', ruta=ruta_cover) }}>
    </div>
    <div class="name do-not-break">{{ titulo}}</div>
    <div class="timestamp">{{ autor }}</div>
  </a>
{% endmacro %}
{% macro genera_columnas(libros) %}
  {% for libro in libros %}
      <div class="column is-2">
          {{ genera_item_libro(libro.titulo, libro.autor, libro.tapa) }}
      </div>
  {% endfor %}

{% endmacro %}
<div class="columns">
  {% include "sidebar.html" %}
  <div class="content column is-10">
    <div class="title">{{ titulo }}</div>
    <div class="columns is-multiline files">
      {{ genera_columnas(libros) }}
    </div>
  </div>
</div>

{% endblock %}
