{% extends "central.html" %}
{% block listado %}

{% macro genera_columnas(entradas) %}
{% for elemento in entradas%}
      <div class="column is-1">
        <a href={{ elemento.url }} title="{{elemento.elemento | capitalize}}">
          {{ elemento.elemento|truncate(50, True)|capitalize }}
        </a>
      </div>
{% endfor %}

{% endmacro %}
<div class="columns">
  {% include "sidebar.html" %}
  <div class="content column is-10">
    <div class="title is-2">{{ titulo }}</div>
    <div class="columns is-multiline files">
      {{ genera_columnas(entradas) }}
    </div>
  </div>
</div>

{% endblock %}
